# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/v17/Browse.VC.db-wal
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/v17/Browse.VC.db
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/v17/.suo
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/FileContentIndex/ce2377d0-13ca-49de-9da1-37b0a28436c3.vsidx
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/FileContentIndex/936328c6-6e08-4b71-ba35-a81ea90d84f2.vsidx
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/FileContentIndex/643c89e5-3507-451b-8ae9-12524c8a676e.vsidx
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/FileContentIndex/62110d28-a377-4409-b7ce-c2adc0fbc6e6.vsidx
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/FileContentIndex/5dee3495-eba2-41c1-a3b2-d3026e6eec6d.vsidx
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/FileContentIndex/450ee41b-304a-4c2c-85e7-0b911343a49b.vsidx
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/FileContentIndex/23cf7a7c-3551-4f4b-ae52-70ed991cf2e5.vsidx
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/v17/Browse.VC.opendb
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/v17/Browse.VC.db-wal
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/v17/Browse.VC.db
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/v17/.suo
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/FileContentIndex/936328c6-6e08-4b71-ba35-a81ea90d84f2.vsidx
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/FileContentIndex/643c89e5-3507-451b-8ae9-12524c8a676e.vsidx
Guardians of the Sunshine OpenGl/.vs/Guardians of the Sunshine OpenGl/FileContentIndex/5dee3495-eba2-41c1-a3b2-d3026e6eec6d.vsidx
*.opendb
*.db-wal
*.db
Guardians of the Sunshine OpenGl/.vs
Guardians of the Sunshine OpenGl/Guardian.4827888f/x64/Debug
*.opendb
*.iobj
*.exe
*.pdb
*.pdb
*.opendb
*.vsidx
/Guardians of the Sunshine OpenGl/.vs
*.exe
*.pdb
*.exe
*.pdb
*.opendb
Opengl Engine
Guardians of the Sunshine OpenGl/Guardians of the Sunshine OpenGl.vcxproj
